/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Begin of my code */
* {
  font-family: sans-serif;
  font-family: "Roboto";
}

body {
  background: #353c45;
  background: rgba(53,60,69,1);
  min-height: 100%;
  min-width: 100%;
  color: #eeeeee;
  color: rgba(238,238,238,1);
}

main {
  width: 100%;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  padding: 16px;
  padding: 1rem;
}

.instruction-text {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.instruction-text h2 {
  font-family: 'Bai Jamjuree SemiBold';
  font-size: 40px;
  font-size: 2.5rem;
}

.instruction-text p {
  padding: 16px 0;
  padding: 1rem 0;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-family: 'Helvetica Neue';
}

.logo > img {
  width: 20%;
  display: block;
  /* margin: 0 auto; */
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.teamSection {
  padding: 48px;
  padding: 3rem;
  width: 40%;
  display: inline-block;
}

form {
  display: block;
  width: 100%;
}

form h2 {
  width: 100%;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  display: block;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  text-align: center;
}

form label {
  width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 8px;
  margin-bottom: .5rem;
}

form input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  font-size: 20px;
  font-size: 1.25rem;
  border-radius: 5px;
}

form input[type='number'] {
  width: 100%;
  display: block;
  padding: 8px 16px;
  padding: .5rem 1rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem
}

form input[type='submit'] {
  width: 30%;
  min-width: 112px;
  min-width: 7rem;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 8px 16px;
  padding: .5rem 1rem;
  margin: 0 auto;
  display: block;
}

/* Support display flex */
@supports not (display: flex) {
  nav ul li {
    /* display: inline-block; */
  }
}


#no-js-support-notification {
  display: block;
  /* position: fixed; */
  right: 1rem;
  right: 16px;
  top: 1rem;
  top: 16px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  padding: 16px;
  font-size: 1.25rem;
  font-size: 20px;
  background: rgb();
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  /* border-radius: 5px; */
}